<!DOCTYPE html>
<html>
  <head>
    <title>PainTrackRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
<<<<<<< HEAD
=======
    <%= javascript_pack_tag 'application' %>
>>>>>>> 38a2ee0ea3ab0a69cc3adec52b20191cfb0f9335
  </body>
</html>
